.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.heading {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#file-label {
	margin: 0;
}

.table-custom {
	margin-top: 2em;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
}

.table-custom th {
	text-align: center;
	background-color: #359c25;
	color: #fefefe;
}

.table-custom td, .table-custom th {
	border: 1px solid #ddd;
	padding: 8px;
  }

.table-custom tr:nth-child(even){background-color: #f2f2f2;}

#category-field {
	margin:1em;
}

#category-field label {
	margin-right: 0.5em;
}