@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body{
    font-family: 'Noto Sans', sans-serif;
}
.text-center{
    color:#359c25;
    text-transform:uppercase;
    font-size: 20px;
    display: block;
    text-align: center;
}
.box{
    align-content: center;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    border-radius:3px;
    padding:70px 100px;
    opacity: 0.8;
}
.input-container{
    position:relative;
    margin-bottom:25px;
}
:focus::-webkit-input-placeholder{
    opacity: 1;
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color: #45494f;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-container input{
    border:0;
    border-bottom:1px solid #359c25;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: #45494f;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #b7bfc9;
}

.btn-wrapper {
    text-align: center;
}


.input-container input:focus ~ label, #email
.input-container input:valid ~ label, #email{
    top:-12px;
    font-size:12px;
}

.message{
    text-decoration: none;
    margin-top: 30px;
    display: block;
    color: #359c25;
    text-align:center;
}

.message>a{
    text-decoration: underline;
    color: #359c25;
    
}
label{
    width: 200px;
}
#email {
    font-size: 16px;
    margin-top: 10px;
}

.side-icon {
    cursor: pointer;
    color: grey;
    font-size: 25px;
}

.pagination-icon {
    cursor: pointer;
    color: grey;
    font-size: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.big-bold-text {
    font-size: 18px;
    font-weight: bold;
}

.profile-data p {
    margin:0;
    padding: 0;
}

.profile-data span {
    font-weight: bold;
}
.fb-wrapper{
    text-align: center;
}
.fb-btn{
    text-align: center;
    background-color: #3b5998;
    color:white;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
}
.fb-btn:hover{
    text-decoration: none;
    color:white;
}
