Django==3.0.12
psycopg2==2.8.5
uWSGI==2.0.18
celery==4.4.2
redis==3.5.2
requests==2.22.0
social-auth-app-django==3.4.0

# development & testing tools
black==19.10b0
coverage==5.1
django-extensions==2.2.9
pydotplus==2.0.2
