{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/words/style.css">
<div class="content">
    {% if category == "user" %}
    <h3>Flashcards added by you</h3>
    {% elif category == "all" %}
    <h3>All Flashcards</h3>
    {% else %}
    <h3>{{ category }}</h3>
    {% endif %}


    {% if words %}
    <table class="table-custom">
        <thead>
            <th>Original</th>
            <th>Translation</th>
            <th>Language</th>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>{{ word.original_word }}</td>
                <td>{{ word.translated_word }}</td>
                <td>
                    {{ word.original_language }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    {{ word.translated_language }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endblock %}
