{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/words/style.css">
<div class="content">
    <h3>Flashcard Groups</h3>

    <table class="table-custom">
        <thead>
            <th>Name</th>
            <th>Count</th>
        </thead>
        <tbody>
            <tr>
                <td><a class="link" href="{% url 'words:browse_words' category='all' %}">All</a></td>
                <td>{{ all_count }}</td>
            </tr>
            <tr>
                <td><a class="link" href="{% url 'words:browse_words' category='user' %}">Added by you</a></td>
                <td>{{ user_count }}</td>
            </tr>
        {% for group in flashcard_groups %}
            <tr>
                <td><a class="link" href="{% url 'words:browse_words' category=group.name %}">{{ group.name }}</a></td>
                <td>{{ group.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'words:upload_words' %}" class="btn">Upload Flashcards</a>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endblock %}
