{% extends "base.html" %}

{% block content %}


    <div id="menu"></div>
    <script src="/static/frontend/nav.js"></script>
    <link rel="stylesheet" href="/static/words/style.css">

    <div class="content">

    {% block words_content %}
    {% endblock %}

        {% if translated_words %}
            <h1>Words:</h1>
            <table>
                <thead>
                    <th>Original</th>
                    <th>Translated</th>
                    <th>Original language</th>
                </thead>
                <tbody>
                {% for word in translated_words %}
                    <tr>
                        <td>{{ word.original }}</td>
                        <td>{{ word.translated }}</td>
                        <td>{{ word.original_language }}</td>
                    </tr>    
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    

{% endblock %}