

#site-desc {
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif, serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
