body {
    font-family: 'sans-serif';
}

#footer {
    text-align: right;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}