{% extends "base.html" %}
{% load static %}

{% block auth %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">


<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="box">
            <form>
                <span class="text-center">Log in</span>
                <div class="input-container">
                    <input type="text" name="username" required="" placeholder="Username"/>
                </div>
                <div class="input-container">
                    <input type="password"  name="password" required="" placeholder="Password"/>
                </div>

                <div class="btn-wrapper">
                    <button type="submit" class="btn" type="submit">Log in</button>
                </div>

                <p class="message">
                Don't have an account? <a href="{% url 'register' %}">Register!</a>
                </p>
            </form>
                <p class="message">
                    OR
                </p>
                <div class="fb-wrapper">
                    <a class="fb-btn" href="{% url 'social:begin' 'facebook' %}"> 
                            Login with Facebook         
                    </a>
                </div>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}
