{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
    <head>
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    </head>
            
        <div>
            <form method="POST" action="">
                {% csrf_token %}

                <div class="box">
                    <form>
                        <span class="text-center">login</span>
                        <div class="input-container">
                            <input type="text" name="username" required="" placeholder="Username"/>
                        </div>
                        <div class="input-container">
                            <input type="password"  name="password" required="" placeholder="Password"/>
                        </div>

                        <button type="submit" class="btn" type="submit">submit</button>

                        <p>
                        <a class="message" href="{% url 'register' %}">Don't have an account? Register!<a/>
                        </p>

                    </form>
                </div>
            </form>
        </div>
    </div>
    <div>
        {% for message in messages %}
            <p id=''>{{message}}</p>
        {% endfor %}
    </div>
{% endblock %}

