{% extends "base.html" %}
{% block content %}
        <link rel="stylesheet" href="../static/css/accounts.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
                    var chart_to_show = 1;
                    const charts_number = 2;
                    window.onload = function() {
                         var data = {{ statistics|safe }}
                         new Chart(document.getElementById("chart-1"), {
                            type: 'line',
                            data: {
                                labels: data.dates,
                                datasets: [{ 
                                    data: data.correct,
                                    label: "Correct answers",
                                    borderColor: "#66ff66",
                                    fill: false
                                }, { 
                                    data: data.incorrect,
                                    label: "Incorrect answers",
                                    borderColor: "#ff1a1a",
                                    fill: false
                                }, {
                                    data: data.all,
                                    label: "All answers",
                                    borderColor: "#000000",
                                    fill: false
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Your answers'
                                }
                            }
                            });
                         new Chart(document.getElementById("chart-2"), {
                            type: 'line',
                            data: {
                                labels: data.dates,
                                datasets: [{ 
                                    data: data.percentage,
                                    label: "Your effectiveness",
                                    borderColor: "#3366ff",
                                    fill: false
                                }]
                            }
                        });
                        $('#chart-1').css("display", "block"); 
                        $('#chart-2').css("display", "none"); 
                    }

                    function changeChart(direction) {
                        if (direction === 'left' && chart_to_show > 1) {
                            $('#chart-' + chart_to_show).css("display", "none"); 
                            chart_to_show--;
                            $('#chart-' + chart_to_show).css("display", "block"); 
                        }
                        else if (direction === 'right' && chart_to_show < charts_number) {
                            $('#chart-' + chart_to_show).css("display", "none"); 
                            chart_to_show++;
                            $('#chart-' + chart_to_show).css("display", "block"); 
                        }
                    }

        </script>

    <div class="content">
        email: {{user.email}} <br>
        Your username: {{user.username}} <br>
        Correct answers: {{answers.correct_answers}} <br>
        Incorrect answers: {{answers.incorrect_answers}} <br>
        

        <br><br> Your worse flashcards: <br>
        {% for flashcard in flashcards %}
        Original: {{flashcard.original}}, translated: {{flashcard.translated}}, effectiveness: {{flashcard.effectiveness}}% <br>
        {% endfor %}
        
        <div class="d-flex flex-row justify-content-around align-items-center">
            <i onClick="changeChart('left')" class="fa fa-chevron-left side-icon" aria-hidden="true"></i>
            <div class="card col-md-8">
                <div class="card-body">
                    <div>Original: <b>{{flashcards.0.original}}</b></div>
                    <div>Translated: {% for i in flashcards.0.translated %} <b>{{i}}</b> {% endfor %} </div>
                    <div>Percentage: <b>{{flashcards.0.effectiveness}}%</b> </div>
                </div>
            </div>
            <i onClick="changeChart('right')" class="fa fa-chevron-right side-icon" aria-hidden="true"></i>
        </div>



        <div class="d-flex flex-row justify-content-around align-items-center">
            <i onClick="changeChart('left')" class="fa fa-chevron-left side-icon" aria-hidden="true"></i>
            <div class="col-md-8">
                <canvas id="chart-1" width="300" height="200"></canvas>
                <canvas id="chart-2" width="300" height="200"></canvas>
            </div>
            <i onClick="changeChart('right')" class="fa fa-chevron-right side-icon" aria-hidden="true"></i>
        </div>
    </div>


{% endblock %}