{% extends "base.html" %}
{% block content %}

        <div id="menu"></div>
        <script src="/static/frontend/nav.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
                    window.onload = function() {
                         new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                                datasets: [{ 
                                    data: [86,114,106,106,107,111,133,221,783,2478],
                                    label: "Africa",
                                    borderColor: "#3e95cd",
                                    fill: false
                                }, { 
                                    data: [282,350,411,502,635,809,947,1402,3700,5267],
                                    label: "Asia",
                                    borderColor: "#8e5ea2",
                                    fill: false
                                }, { 
                                    data: [168,170,178,190,203,276,408,547,675,734],
                                    label: "Europe",
                                    borderColor: "#3cba9f",
                                    fill: false
                                }, { 
                                    data: [40,20,10,16,24,38,74,167,508,784],
                                    label: "Latin America",
                                    borderColor: "#e8c3b9",
                                    fill: false
                                }, { 
                                    data: [6,3,2,2,7,26,82,172,312,433],
                                    label: "North America",
                                    borderColor: "#c45850",
                                    fill: false
                                }
                                ]
                            },
                            options: {
                                title: {
                                display: true,
                                text: 'World population per region (in millions)'
                                }
                            }
                            });
                    }

        </script>
    
    <link rel="stylesheet" href="/static/learning/style.css">


aaaaaaaaaaaaaaa
<div class="content">
    Your email: {{user.email}} <br>
    Your username: {{user.username}} <br>
    Correct answers: {{answers.correct_answers}} <br>
    Incorrect answers: {{answers.incorrect_answers}} <br>
    
    <br><br> Your worse flashcards: <br>
    
    {% for flashcard in flashcards %}
     Original: {{flashcard.original}}, translated: {{flashcard.translated}}, effectiveness: {{flashcard.effectiveness}}% <br>
    {% endfor %}

    <canvas id="line-chart" width="800" height="450"></canvas>

</div>

    <div id="homepage"></div>


{% endblock %}