{% extends "base.html" %}
{% block page_content %}


            <div class="d-flex justify-content-center">
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                            <div>{{form.username.label}} </div>
                            <div>{{form.username}} </div>


                            <div>{{form.email.label}}</div>
                            <div>{{form.email}} </div>

                            <div>{{form.password1.label}}</div>
                            <div>{{form.password1}} </div>

                            <div>{{form.password2.label}}</div>
                            <div>{{form.password2}} </div>

                            <div class="d-flex justify-content-center"><input type="submit" value="Zarejestruj się" name="Create user"> </div> 
                    </form> 
                </div>
            </div>
            <div>
                <a href="{% url 'login' %}">Already have an account? Sing in here!<a/>
            </div>
            <div class="d-flex justify-content-center">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            </div>

{% endblock %}