{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    </head>

            <div>
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="box">
                            <form>
                                <span class="text-center">login</span>

                                <div class="input-container">
                                    {{form.username}}
                                </div>

                                <div class="input-container">
                                    {{form.email}}
                                </div>

                                <div class="input-container">
                                    {{form.password1}}
                                </div>

                                <div class="input-container">
                                    {{form.password2}}
                                </div>


                                <div><input class="btn" type="submit" value="Register here" name="Create user"> </div>

                                <p>
                                    <a class="message" href="{% url 'login' %}">Already have an account? Log in here!<a/>
                                </p>

                            </form>
                    </form> 
                </div>
            </div>
            <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            </div>

{% endblock %}