{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="../../static/learning/learning.js"></script>
    <link rel="stylesheet" href="/static/learning/style.css">
<div class="content">
    {% if info %}      
          
        Correct: {{info.correct_answers}} <br> <br>
        Incorrect: {{info.incorrect_answers}} <br> <br>
    {% endif %}
    <div class="flashcard">

            {{flashcard.original}}
    </div><br><br>
    <div>
        <button class="check_button" onclick="get_answer('{{flashcard.id}}')">Check answer</button>
    </div>        
        <div class="is_correct_answer">
            Is your answer correct?
            <br>
            <button class="save_button_true" onclick="save_answer(true, '{{flashcard.id}}')">True</button>
            <button class="save_button_false" onclick="save_answer(false, '{{flashcard.id}}')">False</button>
        </div>
</div>

    <div id="homepage"></div>


{% endblock %}