{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/learning/style.css">
<div class="content">
    <h3>Choose a category</h3>

    <ul class="list">
        <li><a class="link" href="{% url 'learning:learn' filter='all' %}">All</a></li>
        <li><a class="link" href="{% url 'learning:learn' filter='user' %}">Added by you</a></li>
        <hr>
        {% for group in flashcard_groups %}
        <li><a class="link" href="{% url 'learning:learn' filter=group.name %}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>

    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endblock %}
