{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src ="../../static/learning/learning.js"></script>
<link rel="stylesheet" href="/static/learning/style.css">
<div class="content">
    <div class="grid-container">

        <div class="grid">
            <div class="flashcard">
                <div class="flash-desc">Your word is:</div>
                {{ flashcard.original_word }}
            </div>


            <div class="answer">
            </div>

            <br><br>
            <div class="checker">
                <button class="btn" id="check_button" onclick="get_answer('{{flashcard.id}}')">Show translation</button>
            </div>
            <div class="is_correct_answer">
                Is it correct?
                <br>
                <br>
                    <button class="btn" id="save_button_true" onclick="save_answer(true, '{{flashcard.id}}', '{{category}}')">True</button>
                    <button class="btn" id="save_button_false" onclick="save_answer(false, '{{flashcard.id}}', '{{category}}')">False</button>
            </div>
        </div>

        {% if info %}
            <div class="grid">
                <div class="stats">
                    Correct: {{ info.correct_answers }} <br><br>
                    Incorrect: {{ info.incorrect_answers }} <br><br>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="definition">
    </div>

</div>

{% endblock %}