<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/frontend/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/frontend/style.css">
</head>


<body>
<script src="/static/frontend/home_page.js"></script>

    {% block content %}{% endblock %}

    


    <footer>
        <a href="https://github.com/MichalLeszczynski-WFiIS/Fiszkly" target="_blank">
            <img alt="Git" src="/static/frontend/github.png"
                 width="35" height="35" id="git">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
    </footer>
</body>

</html>
